<html lang="en">
<head>
    <%- include('./partials/header')%>
    <title>Metaverse</title>
</head>
<body class="bg-dark">
<div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="">
            <a href="/register"><button type="button" class="btn btn-light btn-lg mx-3 px-5 py-3">Register</button></a>
        </div>
        <div class="">
            <a href="/login"><button type="button" class="btn btn-outline-light btn-lg  px-5 py-3">Login</button></a>
        </div>
</div>
</body>
</html>