<%-include("partials/header")%>
<body>
   <form action="/google" method="get">
        <input type="submit" value="Login with google">
   </form>
   <form action="/facebook" method="get">
    <input type="submit" value="Login with facebook">
    </form>
    <form action="/github"  method="get">
    <input type="submit" value="Login with github">
    </form>
</body>
</html>