<%-include("partials/header")%>
</head>
<body>
    <form action="/auth/google" method="get">
        <input type="submit" value="Login with Google+">
    </form>
    <form action="/auth/facebook" method="get">
        <input type="submit" value="Login with facebook">
    </form>
    <form action="/auth/github" method="get">
        <input type="submit" value="Login with Github">
    </form>
    <form action="/auth/linkedin" method="get">
        <input type="submit" value="Login with linkedin">
    </form>
    <form action="/auth/twitter" method="get">
        <input type="submit" value="Login with twitter">
    </form>
</body>
</html>