<%-include('partials/header')%>
    <title>Dashboard</title>
</head>
<body>
    <h3>Welcome to Metaverse</h3>
    <form action="/logout?_method=DELETE" method="post">
        <input type="submit" value="Logout">
    </form>
</body>
</html>